body {
    background: #000;
    margin: 0;
}
ul li {
    list-style: none;
    float: left; 
     
    font-size: 12px;
    font-weight: bold;
}
ul>li>a {
    text-decoration: none;
    color: #B7B7B7;
    border-bottom: 3px solid #E06567 transparent;
    border-top: 3px solid transparent;
    padding: 5px 0px;
    margin: 0px 17px;
    display: block;
}
ul>li>a:hover { 
    border-bottom: 3px solid #E06567;
}

div.rscard {
    padding: 20px 16px;
}

div>a {
    font-family: 'Arial Black';
    font-size: 24px;
    display: inline-block;
    padding: 3px 0px 4px 0px;
}

a>span.rs  {
    float: left;
    color: #E6686A;
    margin-right: 4px;
}

a>span.card {
    float: left;
    color: #9A9DA2;
}

a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}

nav {
    padding: 7px 0 0 0;
    float: right;
}
